{% extends 'base.html' %}

{% block content %}

<div class="conteiner">
{% include 'nave.html' %}
</div>

<div class="row mt-4">

    <h3>Detalhes do post</h3>

    <div class="col-md-6 mt-4">
        Usuario:
        <input type="text" value="{{obj.user.nome}}" class="form-control bg-secondary text-white" readonly>

    </div>

    <div class="col-md-12 mt-4">
        Mensagem:
        <textarea type="text" rows="10" class="form-control bg-secondary text-white" readonly>{{obj.mensagem}}</textarea>

    </div>
</div>

<div class="col-md-12 mt-4">
    <form action="" method="POST">
        {{form.comentario.label()}}
        {{form.comentario(class="form-control")}}

        {{form.btnSubmit(class="btn btn-primary col-12 mt-3")}}
    </form>
</div>
{% endblock %}